mixin video(video)
  a.video-mixin(href=`/videos/${video.id}`)
    .video-mixin__thumb
      if isFlyio
        img(
          src=`${video.thumbUrl}`,
          alt="Thumbnail",
          style="object-fit: cover; width: 100%; height: 100%",
          crossorigin
        )
      else
        img(
          src=`/${video.thumbUrl}`,
          alt="Thumbnail",
          style="object-fit: cover; width: 100%; height: 100%",
          crossorigin
        )
    .video-mixin__data
      span.video-mixin__title= video.title
      .video-mixin__meta
        span #{ video.owner.name } •&nbsp;
        span 조회수 #{ video.meta.views }회
