extends base

block content
  #videoContainer(data-id=video._id)
    if isFlyio
      video(src=video.fileUrl, width="100%", crossorigin)
    else
      video(src="/" + video.fileUrl, width="100%", crossorigin)
    #videoControls.videoControls
      .videoControls__play
        span#play.videoControls__playBtn
          i.fas.fa-play
        .videoControls__time
          span#currenTime 00:00
          span /
          span#totalTime 00:00
      input#timeline.videoControls__timeline(
        type="range",
        step="1",
        value="0",
        min="0"
      )
      .videoControls__volume
        input#volume(type="range", step="0.1", value=0.5, min="0", max="1")
        span#mute
          i.fas.fa-volume-up
      div
        span#fullScreen
          i.fas.fa-expand

  .video__data
    h1.video__data-title= video.title
    .video__data-uploader
      small Uploaded by &nbsp;
        a(href=`/users/${video.owner._id}`) @#{ video.owner.name }
    p.video__data-description= video.description
    small.video__data-date= video.createdAt
  if String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a#deleteVideo(href=`${video.id}/delete`) Delete Video &rarr;
  if loggedIn
    .video__add-comments
      form#commentForm.video__comment-form
        textarea#commentTextarea(
          cols="20",
          rows="1",
          placeholder="write comment..",
          required
        )
        button Add Comment
  .video__comments
    ul
      each comment in video.comments.reverse()
        li.video__comment(data-id=comment.id)
          i.fas.fa-comment
          span &nbsp;#{ comment.text }
          if String(video.owner._id) === String(loggedInUser._id)
            span.video__delete-comment &nbsp;❌

block scripts
  script(src="/static/js/videoPlayer.js")
  script(src="/static/js/commentSection.js")
