extends base

block content
  #videoContainer(data-id=video._id)
    if isFlyio
      video(src=video.fileUrl, width="100%", crossorigin)
    else
      video(src="/" + video.fileUrl, width="100%", crossorigin)
    #videoControls
      button#play Play
      button#mute Mute
      input#volume(type="range", min="0", max="1", step="0.1", value="0.5")
      div
        span#currentTime 00:00
        span &nbsp;/&nbsp;
        span#totalTime 00:00
      div
        input#timeline(type="range", min="0", step="1", value="0")
      div
        button#fullScreen Enter Full Screen
  .video__data
    p= video.description
    small= video.createdAt
    div
      small Uploaded by &nbsp;
        a(href=`/users/${video.owner._id}`) @#{ video.owner.name }
  if String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a#deleteVideo(href=`${video.id}/delete`) Delete Video &rarr;
  if loggedIn
    .video__add-comments
      form#commentForm.video__comment-form
        textarea#commentTextarea(
          cols="30",
          rows="10",
          placeholder="write comment..",
          required
        )
        button Add Comment
  .video__comments
    ul
      each comment in video.comments.reverse()
        li.video__comment(data-id=comment.id)
          i.fas.fa-comment
          span &nbsp;#{ comment.text }
          if String(video.owner._id) === String(loggedInUser._id)
            span.video__delete-comment &nbsp;❌

block scripts
  script(src="/static/js/videoPlayer.js")
  script(src="/static/js/commentSection.js")
